<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Sukusho records your camera alongside the screen so you can add a camera bubble to recordings.</string>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Sukusho needs input monitoring permission to show key press captions while recording.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sukusho captures your microphone so recordings can include narration.</string>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Sukusho needs screen recording permission to capture screenshots.</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/fayazara/screendrop/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MA/6n0fqT0T2updDlkXr8BjhJKoHWik9uf6Lh5pUG7U=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sukusho Screenshot Preset</string>
			<key>UTTypeIdentifier</key>
			<string>com.fayazahmed.screendrop.preset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>screendroppreset</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.screendrop.preset+json</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
